<ng-container *ngIf="userRole == 'admin'">
  <nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <a class="navbar-brand" href="#"> Quiz app </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#mynav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" style="padding-right: 0px" routerLink="login"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
</ng-container>

<ng-container *ngIf="userRole == 'user'">
  <nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <a class="navbar-brand" href="#"> Quiz app </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#mynav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" style="padding-right: 0px" routerLink="login"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </nav>
</ng-container>

<div class="container-fluid" style="max-height: 25rem">
  <router-outlet></router-outlet>
</div>
